feedparser==6.0.11
requests==2.32.4
beautifulsoup4==4.13.4
Pillow==11.3.0
numpy==2.3.2
moviepy==2.2.1
gTTS==2.5.4
deep-translator==1.11.4
imageio==2.37.0
imageio-ffmpeg==0.6.0
proglog==0.1.12
python-dotenv==1.1.1
